/* Color Theme Swatches in Hex */
/*
.background { color: #9BA7BF; }
.destaque { color: #607EA6; }
.fonte { color: #23260F; }
.background { color: #F2EFDF; }
/*
html {
  background: #9BA7BF;
  color: #23260F;
}
